*.mp4
*.png
*.jpg

*.obj
*.mtl
*.ply
*.exr

*.npy

*.pkl
*.pth
*.pt

.idea
.vscode

input
output
MGM_Mask2Former/pretrained-checkpoint
MGM_Mask2Former/predict_test

mgm_test_input
mgm_test_output_random
mgm_test_output_real

MGM_Mask2Former/input
MGM_Mask2Former/output

__pycache__